<footer class="Footer">
  <div class="Footer-border">
    ==============================================================================================================================================================
  </div>
  <div class="Footer-inner">
    <div class="Footer-source">
      <a href="https://github.com/TMan253/sabitdevs" target="_blank" rel="noopener nofollow">Source available on GitHub</a>
    </div>
    <div class="Footer-rss">
      <a href="/feed.xml">RSS Feed</a>
    </div>
  </div>
</footer>
